/* Mixins.scss
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .clearfix:after {
    clear: both; }

.line-height-45 > li {
  line-height: 45px;
}
.fixed-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1; }
  .fixed-container:before, .fixed-container:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .fixed-container:after {
    clear: both; }

.btn-inactive {
  color : black;
  background-color: white;
}


article pre {
  font-size: 13px !important; }

.container > section {
  margin-top: 60px; }

strong {
  color: #666666; }

.highlight {
  line-height: 25px;
  padding: 3px 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8; }

.jumbotron {
  position: relative; }

.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1; }

.masthead {
  padding-top: 36px;
  margin-bottom: 72px; }
  .masthead h1, .masthead p {
    text-align: center; }
  .masthead h1 {
    margin-bottom: 18px; }
  .masthead p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    line-height: 36px; }

footer {
  border-top: 1px solid #e5e5e5; }

.marketing h2 {
  margin: 36px 0 27px;
  text-align: center; }

.sidebar-nav {
  padding: 9px 0; }

.headline {
  padding: 50px; }
  .headline h1 {
    font-size: 100px;
    line-height: 250px;
    font-family: "Signika Negative", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .headline p {
    padding-top: 20px;
    font-family: "Signika Negative", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 27px; }
  .headline .logo {
    margin-left: auto;
    margin-right: auto;
    width: 900px; }

.clear {
  clear: both; }

code {
  line-height: 2em; }

h2 {
  line-height: 2em; }

@media (min-width: 767px) and (max-width: 979px) {
  .headline h1 {
    font-size: 65px; }

  .container-fluid footer {
    padding-left: 0px;
    border-top: 1px solid #e5e5e5; } }
@media (max-width: 767px) {
  .headline h1 {
    font-size: 60px; }

  .container-fluid footer {
    padding-left: 0px;
    border-top: 1px solid #e5e5e5; } }
@media (max-width: 480px) {
  .headline {
    padding: 0; }
    .headline h1 {
      line-height: 60px;
      padding-top: 85px;
      font-size: 30px; }

  .container-fluid footer {
    padding-left: 0px;
    border-top: 1px solid #e5e5e5; } }
.container {
  padding: 20px;
  color: black; }

.row-fluid {
  padding-top: 55px; }

#bootstrap-overrides .alert {
  text-shadow: 0 0px 0;
}

/* 
Nav-bar table of contents css
*/

#toc .toc-h1 {
    padding-left: 0px;
}

#toc .toc-h2 {
     padding-left: 0px;
}

#toc .toc-h3 {
     padding-left: 15px;
}

#toc .toc-h4 {
     padding-left: 30px;
}

#toc .toc-h5 {
     padding-left: 45px;
}

#toc ul {
    margin: 0;
    padding: 0;
   list-style-type: none;
   font-size: 1.0em;
}

#toc li {
    padding: 5px 10px;
}

/*
Tables render with borders in markdown
*/

table.markdown-table {
  padding: 0; }
 .markdown-table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
  .markdown-table tr:nth-child(2n) {
      background-color: #f8f8f8; }
   .markdown-table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
  .markdown-table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .markdown-table tr th :first-child, .markdown-table tr td :first-child {
      margin-top: 0; }
    .markdown-table tr th :last-child, .markdown-table tr td :last-child {
      margin-bottom: 0; }

/*
index.html sidebar
*/

.sidebar {
  display: block;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    width: 250px;
    padding: 10px;
    background-color: #E8E8EE;
  }
}

/*
index footer
*/

#footer-index {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #1e7098;
}

/* 
change size of glyphicons on index page
*/

.glyphicon.glyphicon-ok-circle {
    font-size: 35px;
    margin-bottom: 20px;
}
.glyphicon.glyphicon-file {
    font-size: 35px;
    margin-bottom: 20px;
}

.glyphicon.glyphicon-comment {
    font-size: 35px;
    margin-bottom: 20px;
}

.glyphicon.glyphicon-book {
    font-size: 35px;
    margin-bottom: 20px;
    color: #1e7098
}

.action a {
  text-decoration: none;
}
.header, section, .section {
  text-align: center;
}
section, .section {
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-position: bottom center;
}
section:last-child, .section:last-child, section.last, .section.last {
  background-image: none;
}
.section-intro {
  margin-bottom: 36px;
}
.header {
  padding: 100px 10px 70px 100px;
  height: 100%;
  float: left;
}
.middle {
  padding: 20px 50px 0px 50px;
  height: 50%;
  width: 100%;
  float: left;
  background-color: #ddebf2;
}
.header h1 {
  font-size: 120px;
  margin-bottom: 0;
  float: left;
}
.header h2 {
  text-align:left;
}
.header h5 {
  font-weight: 200;
  font-size: 17px;
  text-align: left;
  color: #2f4f4f;
}
.header h5.first {
  font-weight: 600;
}
.header a {
  color: #1e7098;
}
.subaction {
  color: black;
  font-size: 12px;
}
.action small {
   color: #1e7098;
}

#bootstrap-overrides .navbar-inverse .brand,
.navbar-inverse .nav > li > a, .navbar-inverse .nav > li > div > a {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-size: 0.70em;
    font-weight: bold;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

#bootstrap-overrides .navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {
    text-decoration: underline;
}

.header-dropdown {
    line-height: 5px;
    padding-top: 22px;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
    color: white;
    background-color: #666666;
}

/*
sidebar navigates to topic
*/

*[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

/*
Google search bar styling
*/

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
    height: 26px;
    margin-top: 0;
    min-width: 0px;
    padding: 5px 12px;
    width: 40px;
}

.cse .gsc-control-cse, .gsc-control-cse {
    background-color: transparent;
    border: transparent;
    float: right;
    min-width: 10px;
    max-width: 20%;
    padding: 20px 0 0 0;
}

.cse input.gsc-input, input.gsc-input {
    background-image: none !important;
    padding: 1px 6px;
    width: 99%;
    box-shadow: none;
}
.cse input.gsc-search-button, input.gsc-search-button {
    color: #1e7098;
    background-color: white;
    left: -14px;
    position: relative;
}

.gsc-search-box-tools .gsc-search-box .gsc-input {
    box-shadow: none;
}

#bootstrap-overrides .btn:hover {
  background-position-y: 0px;
}

#bootstrap-overrides code {
    padding: 2px 4px;
    font-size: 90%;
    color: #555555;
    background-color: #f5f5f5;
    border-radius: 3px;
}

#bootstrap-overrides .navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus,
.navbar-inverse .nav .active > a:visited
 {
    background-color: #1e7098;
    border-bottom: 3px solid white;
    color: #f0ad4e;
}