/* Mixins.scss
 * Snippets of reusable CSS to develop faster and keep code readable
 * ----------------------------------------------------------------- */
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .clearfix:after {
    clear: both; }

.line-height-45 > li {
  line-height: 45px;
}
.fixed-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  zoom: 1; }
  .fixed-container:before, .fixed-container:after {
    display: table;
    content: "";
    zoom: 1;
    *display: inline; }
  .fixed-container:after {
    clear: both; }

.btn-inactive {
  color : black;
  background-color: white;
}


article pre {
  font-size: 13px !important; }

.container > section {
  margin-top: 60px; }

strong {
  color: #666666; }

.highlight {
  line-height: 25px;
  padding: 3px 4px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8; }

.jumbotron {
  position: relative; }

.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  letter-spacing: -1px;
  line-height: 1; }

.masthead {
  padding-top: 36px;
  margin-bottom: 72px; }
  .masthead h1, .masthead p {
    text-align: center; }
  .masthead h1 {
    margin-bottom: 18px; }
  .masthead p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    line-height: 36px; }

footer {
  border-top: 1px solid #e5e5e5; }

.marketing h2 {
  margin: 36px 0 27px;
  text-align: center; }

.sidebar-nav {
  padding: 9px 0; }

.headline {
  padding: 50px; }
  .headline h1 {
    font-size: 100px;
    line-height: 250px;
    font-family: "Signika Negative", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .headline p {
    padding-top: 20px;
    font-family: "Signika Negative", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 27px; }
  .headline .logo {
    margin-left: auto;
    margin-right: auto;
    width: 900px; }

.clear {
  clear: both; }

code {
  line-height: 2em; }

h2 {
  line-height: 2em; }

@media (min-width: 767px) and (max-width: 979px) {
  .headline h1 {
    font-size: 65px; }

  .container-fluid footer {
    padding-left: 0px;
    border-top: 1px solid #e5e5e5; } }
@media (max-width: 767px) {
  .headline h1 {
    font-size: 60px; }

  .container-fluid footer {
    padding-left: 0px;
    border-top: 1px solid #e5e5e5; } }
@media (max-width: 480px) {
  .headline {
    padding: 0; }
    .headline h1 {
      line-height: 60px;
      padding-top: 85px;
      font-size: 30px; }

  .container-fluid footer {
    padding-left: 0px;
    border-top: 1px solid #e5e5e5; } }
.container {
  padding: 20px;
  color: black; }

/*.row-fluid {*/
  /*padding-top: 55px; }*/

#bootstrap-overrides .alert {
  text-shadow: 0 0px 0;
}

/* 
Nav-bar table of contents css
*/

#toc .toc-h1 {
    padding-left: 0px;
}

#toc .toc-h2 {
     padding-left: 0px;
}

#toc .toc-h3 {
     padding-left: 15px;
}

#toc .toc-h4 {
     padding-left: 30px;
}

#toc .toc-h5 {
     padding-left: 45px;
}

#toc ul {
    margin: 0;
    padding: 0;
   list-style-type: none;
   font-size: 1.0em;
}

#toc li {
    padding: 5px 10px;
}

/*
Tables render with borders in markdown
*/

table.markdown-table {
  padding: 0; }
 .markdown-table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
  .markdown-table tr:nth-child(2n) {
      background-color: #f8f8f8; }
   .markdown-table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
  .markdown-table tr td {
      border: 1px solid #cccccc;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    .markdown-table tr th :first-child, .markdown-table tr td :first-child {
      margin-top: 0; }
    .markdown-table tr th :last-child, .markdown-table tr td :last-child {
      margin-bottom: 0; }

/*
index.html sidebar
*/

.sidebar {
  display: block;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 75px;
    bottom: 0;
    left: 0;
    width: 250px;
    padding: 10px;
    background-color: #E8E8EE;
  }
}

/*
index footer
*/

#footer-index {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #1e7098;
}

/* 
change size of glyphicons on index page
*/

.glyphicon.glyphicon-ok-circle {
    font-size: 35px;
    margin-bottom: 20px;
}
.glyphicon.glyphicon-file {
    font-size: 35px;
    margin-bottom: 20px;
    color: #1e7098
}

.glyphicon.glyphicon-comment {
    font-size: 35px;
    margin-bottom: 20px;
}

.glyphicon.glyphicon-book {
    font-size: 35px;
    margin-bottom: 20px;
    color: #1e7098
}

.action a {
  text-decoration: none;
}
.header, section, .section {
  text-align: center;
}
section, .section {
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-position: bottom center;
}
section:last-child, .section:last-child, section.last, .section.last {
  background-image: none;
}
.section-intro {
  margin-bottom: 36px;
}
.header {
  padding: 100px 10px 70px 100px;
  height: 100%;
  float: left;
}
.middle {
  padding: 20px 50px 0px 50px;
  height: 50%;
  width: 100%;
  float: left;
  background-color: #ddebf2;
}
.header h1 {
  font-size: 120px;
  margin-bottom: 0;
  float: left;
}
.header h2 {
  text-align:left;
}
.header h5 {
  font-weight: 200;
  font-size: 17px;
  text-align: left;
  color: #2f4f4f;
}
.header h5.first {
  font-weight: 600;
}
.header a {
  color: #1e7098;
}
.subaction {
  color: black;
  font-size: 12px;
}
.action small {
   color: #1e7098;
}

#bootstrap-overrides .navbar-nav>li>a,
.dropdown-toggle{
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  text-transform: uppercase;

}

.btn-group>.btn:hover,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:visited
 {
    color: white;
}

.dropdown-item:hover {
    text-decoration: none;
    background-color: #e6e6e6;
}

.dropdown-item:visited {
    color: #333333;
}

/*
sidebar navigates to topic
*/

*[id]:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

#bootstrap-overrides .btn:hover {
  background-position-y: 0px;
}

#bootstrap-overrides code {
    padding: 2px 4px;
    font-size: 90%;
    color: #555555;
    background-color: #f5f5f5;
    border-radius: 3px;
}

.navbar-collapse.in {
    overflow: hidden;
}

@media (min-width: 768px) {
    #bootstrap-overrides  .navbar-nav > li {
        float: left;
    }
    #bootstrap-overrides .float-right-lg {
        float: right;
    }
    #bootstrap-overrides  .navbar-nav > li:hover{
        background-color: #154e6a;
    }
}
@media (max-width: 768px) {
    #bootstrap-overrides .navbar-nav > li {
        float: none;
    }
    #bootstrap-overrides  .nav > li {
        position: relative;
        display: block;
    }
}



/*
Custom css stying for google search bar
*/


/**
 * Default theme
 *
 */
/* Slight reset to make the preview have ample padding. */
.cse .gsc-control-cse,
.gsc-control-cse {
    /*padding: 1em;*/
    width: auto;
    background-color: transparent;
    border: transparent;
    float: right;
    /*min-width: 10px;*/
    /*max-width: 20%;*/
    padding: 0 0 0 0;
}
.cse .gsc-control-wrapper-cse,
.gsc-control-wrapper-cse {
    width: 100%;
}
.cse .gsc-branding,
.gsc-branding {
    display: none;
}
/* Selector for entire element. */
.cse .gsc-control-cse,
.gsc-control-cse {
    background-color: transparent;
    border: transparent;
    float: right;
    /*min-width: 10px;*/
    /*max-width: 20%;*/
    padding: 20px 0 0 0;

}
.cse .gsc-control-cse:after,
.gsc-control-cse:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.cse .gsc-resultsHeader,
.gsc-resultsHeader {
    border: block;
}
table.gsc-search-box td.gsc-input {
    padding-right: 12px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
    box-shadow: none;
    padding-left: 10px;
    padding-right: 0;
}
input.gsc-input {
    border-color: #D9D9D9;
    font-size: 13px;
    background-image: none !important;
    padding: 1px 6px;
    width: 99%;
}
/* Search button */
.cse input.gsc-search-button,
input.gsc-search-button {
    font-family: inherit;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    background-color: #154e6a;
    border: 2px solid #154e6a;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    height: 26px;
    margin-top: 0;
    min-width: 0px;
    padding: 5px 12px;
    width: 40px;
    background-image: url('/assets/images/Magnifying-glass.png') !important;
}
.cse input.gsc-search-button,
input.gsc-search-button:hover {
    border-color: #12435b;
    background-color: #154e6a;
}
/* Inactive tab */
.cse .gsc-tabHeader.gsc-tabhInactive,
.gsc-tabHeader.gsc-tabhInactive {
    /*border-bottom: none;*/
    color: #666666;
    background-color: #e9e9e9;
    border: 1px solid;
    border-color: #e9e9e9;
    border-bottom: none;
}
/* Active tab */
.cse .gsc-tabHeader.gsc-tabhActive,
.gsc-tabHeader.gsc-tabhActive {
    background-color: #FFFFFF;
    border: 1px solid;
    border-top: 2px solid;
    border-color: #e9e9e9;
    border-top-color: #FF9900;
    border-bottom: none;
}
/* This is the tab bar bottom border. */
.cse .gsc-tabsArea,
.gsc-tabsArea {
    margin-top: 1em;
    border-bottom: 1px solid #e9e9e9;
}
/* Inner wrapper for a result */
.cse .gsc-webResult.gsc-result,
.gsc-webResult.gsc-result,
.gsc-imageResult-column,
.gsc-imageResult-classic {
    padding: .25em;
    border: 1px solid;
    border-color: #ffffff;
    margin-bottom: 1em;
}
/* Result hover event styling */
.cse .gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result.gsc-promotion:hover,
.gsc-results .gsc-imageResult-classic:hover,
.gsc-results .gsc-imageResult-column:hover {
    border: 1px solid;
    border-color: #FFFFFF;
}
/*Promotion Settings*/
/* The entire promo */
.cse .gsc-webResult.gsc-result.gsc-promotion,
.gsc-webResult.gsc-result.gsc-promotion {
    background-color: #FFFFFF;
    border-color: #336699;
}
/* Promotion links */
.cse .gs-promotion a.gs-title:link,
.gs-promotion a.gs-title:link,
.cse .gs-promotion a.gs-title:link *,
.gs-promotion a.gs-title:link *,
.cse .gs-promotion .gs-snippet a:link,
.gs-promotion .gs-snippet a:link {
    color: #0000CC;
}
.cse .gs-promotion a.gs-title:visited,
.gs-promotion a.gs-title:visited,
.cse .gs-promotion a.gs-title:visited *,
.gs-promotion a.gs-title:visited *,
.cse .gs-promotion .gs-snippet a:visited,
.gs-promotion .gs-snippet a:visited {
    color: #0000CC;
}
.cse .gs-promotion a.gs-title:hover,
.gs-promotion a.gs-title:hover,
.cse .gs-promotion a.gs-title:hover *,
.gs-promotion a.gs-title:hover *,
.cse .gs-promotion .gs-snippet a:hover,
.gs-promotion .gs-snippet a:hover {
    color: #0000CC;
}
.cse .gs-promotion a.gs-title:active,
.gs-promotion a.gs-title:active,
.cse .gs-promotion a.gs-title:active *,
.gs-promotion a.gs-title:active *,
.cse .gs-promotion .gs-snippet a:active,
.gs-promotion .gs-snippet a:active {
    color: #0000CC;
}
/* Promotion snippet */
.cse .gs-promotion .gs-snippet,
.gs-promotion .gs-snippet,
.cse .gs-promotion .gs-title .gs-promotion-title-right,
.gs-promotion .gs-title .gs-promotion-title-right,
.cse .gs-promotion .gs-title .gs-promotion-title-right *,
.gs-promotion .gs-title .gs-promotion-title-right * {
    color: #000000;
}
/* Promotion url */
.cse .gs-promotion .gs-visibleUrl,
.gs-promotion .gs-visibleUrl {
    color: #008000;
}
/* Style for auto-completion table
 * .gsc-completion-selected : styling for a suggested query which the user has moused-over
 * .gsc-completion-container : styling for the table which contains the completions
 */
.gsc-completion-selected {
    background: #EEE;
}
.gsc-completion-container {
    font-family: Arial, sans-serif;
    font-size: 13px;
    background: white;
    border: 1px solid #CCC;
    border-top-color: #D9D9D9;
    margin-left: 0;
    margin-right: 0;
    /* The top, left, and width are set in JavaScript. */
}
.gsc-completion-title {
    color: #0000CC;
}
.gsc-completion-snippet {
    color: #000000;
}

/* Full URL */
.gs-webResult div.gs-visibleUrl-short,
.gs-promotion div.gs-visibleUrl-short {
    display: none;
}
.gs-webResult div.gs-visibleUrl-long,
.gs-promotion div.gs-visibleUrl-long {
    display: block;
}

/* Facet box css */
.gsc-context-box {
    font-size: 83%;
    margin-top: 3px;
    border-collapse: collapse;
}

.gsc-context-box .gsc-col {
    padding:1px 0;
    white-space: nowrap;
    vertical-align: middle;
}

.gsc-context-box .gsc-facet-label {
    width: 65px;
    padding-left: 2px;
    text-decoration: underline;
    color: #15C;
    cursor: pointer;
}

.gsc-context-box .gsc-chart {
    width: 32em;
    padding: 3px;
    border-left: 1px solid #6A9CF3;
    border-right: 1px solid #6A9CF3;
}

.gsc-context-box .gsc-top {
    border-top: 1px solid #6A9CF3;
}

.gsc-context-box .gsc-bottom {
    border-bottom: 1px solid #6A9CF3;
}

.gsc-context-box .gsc-chart div {
    background: #6A9CF3;
    height: 9px;
}

.gsc-context-box .gsc-facet-result {
    color: #15C;
    width: 30px;
    text-align: right;
    padding-right: 5px;
}

/* Universal one box css. */
.gsc-usr-group-thumbnail {
    display: inline-block;
    max-width: 72px;
    max-height: 72px;
}
.gsc-usr-group-thumbnail img {
    max-height: 72px;
    overflow: hidden;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading {
    color: #15C;
    cursor: pointer;
}
.gsc-usr-group {
    min-height: 100px;
    zoom: 1;
    display: block;
    line-height: 1.24;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-left: 20px;
}
.gsc-usr-group-content {
    padding-top: 1px;
    padding-bottom: 3px;
}
.gsc-usr-group-content-thumbnail {
    display: inline-block;
    vertical-align: top;
}
.gsc-usr-group-head-result {
    display: inline-block;
    padding-left: 6px;
}
.gsc-usr-group-snippet {
    width: 100%;
    height: 3.6em;
    overflow: hidden;
}
.gsc-usr-group-content-results {
    font-size: 12px;
    padding-left: 1px;
    width: 80%;
    padding-top: 7px;
}
.gsc-usr-group-head-results {
    display:inline-block;
    font-size: 13px;
    padding-left: 6px;
    width: 80%;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results {
    font-size: 11px;
    line-height: 10px;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-all-results
b {
    font-size: 14px;
    font-weight: 600;
}
.gs-webResult .gs-title
.gs-title.gsc-usr-group-heading
b {
    color: #15C;
}


body { padding-top: 50px; }

.navbar-fixed-top {
    top: -50px; /* you'll have to figure out the exact number here */
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative; /* this can also be static */
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus {
    color: white;
    font-weight: bolder;
}

@media only screen and (max-width: 320px) {

    #bootstrap-overrides .container { font-size: 1.5em; }

}

/*
Styling for code tabs
*/

.text-right.btn-group {
    background-color: #e0e0e0;
    color: black;
}
.text-right.btn-group .btn.btn-inactive:hover {
    background-color: #e0e0e0;
}
.text-right.btn-group .btn:hover {
    background-color: #e0e0e0;
}
.text-right.btn-group .btn {
    color: black;
}
.text-right.btn-group .btn.btn-inactive {
    background-color: #efefef;
}



/*css for new userguide*/
.thumbnail {
    padding:0;
    border-right: white;
    border-top: white;
    border-bottom: white;

}

#userDiv {
    min-height: 500px;
    height: auto;
}
.clickable {
    cursor: pointer;
}

.clickable .glyphicon {
    padding: 6px 20px 12px 0;
    margin-top: -25px;
}

.panel-heading {
    color: white;
    font-weight: bold;
}

.panel-heading span {
    margin-top: -23px;
    font-size: 20px;
    margin-right: -9px;
    margin-bottom: 10px;
    color: white;
}
a.clickable {
    color: inherit;
}
a.clickable:hover {
    text-decoration:none;
}





