<div class='synapse-blue-bg font-size-14' style='width=100%'>
    <table style="height:60px !important; margin: 20px;">
        <tr>
            <td style="padding-right: 15px;"><a href="http://sagebase.org/" class="margin-top-5 margin-bottom-5 color-white">2016 Sage Bionetworks</a></td>
            <td class="text-align-center" style="padding-right: 15px;"> <a href="mailto:synapseInfo@sagebase.org" class="color-white margin-left-10">Contact us</a></td>
            <td class="text-align-center" style="padding-right: 15px;"> <a href="http://creativecommons.org/licenses/by/3.0/legalcode" class="color-white margin-left-10">Creative Commons License</a></td>
        </tr>
    </table>
</div>
