<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang='en'>

<head>
    <title>{{page.title}} | Synapse Documentation</title>

    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <meta content='Synapse Documentation' name='description' />
    <meta content='Sage Bionetworks' name='author' />

    <link href='//cdn-www.synapse.org/css/bootstrap-custom-theme.min.css' rel='stylesheet' type='text/css' /> 
    <link href="{{ '/assets/stylesheets/sass/styles.css' | relative_url }}" media='screen' rel='stylesheet' type='text/css' />
    <link href='//www.synapse.org/Portal.css' media='screen' rel='stylesheet' type='text/css' />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{ '/assets/javascripts/toc.js' | relative_url }}"></script>
    <script src="{{ '/assets/javascripts/google-analytics.js' | relative_url }}"></script>

    <meta content='text/html;charset=utf-8' http-equiv='Content-Type' />

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" id="bootstrap-overrides">
        <div class="navbar-header col-lg-3">
    <button aria-controls="sd-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#sd-navbar" data-toggle="collapse" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <a href="{{ '/' | relative_url }}" class="navbar-brand" style="color:white"><img src="https://www.synapse.org/images/logo.svg" alt="Synapse Logo" style="width:35px; height:35px; padding-right: 0; position: relative; top:-7px"></a>
    <a href="{{ '/' | relative_url }}" class="navbar-brand" style="color:white; padding-left:6px; font-size: 1.5em">SYNAPSE DOCS</a>
</div>
    <nav class="collapse navbar-collapse" id="sd-navbar">
        <ul class="nav navbar-nav col-lg-7">
            <li>
                <a href="{{'/articles/getting_started.html' | relative_url}}">Getting started</a>
            </li>
            <li>
                <a href="{{'/articles/' | relative_url}}">User Guide</a>
                
            </li>
            <li>
                <a href="{{'/articles/api_documentation.html' | relative_url}}">API docs</a>
            </li>
            <li>
                <a href="{{'articles/governance.html' | relative_url}}">Governance</a>
            </li>
            <li>
                <a href="{{'articles/faq.html' | relative_url}}">FAQ</a>
            </li>
            <li>
                <a href='https://www.synapse.org/#!SynapseForum:default'>Forum</a>
            </li>
        </ul>
        <div id='cse' class='col-lg-2 col-md-2 col-sm-4 col-xs-12'>
            <script>
              (function() {
                var cx = '011610888334356746975:s7xjazjl8uy';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:search></gcse:search>
        </div>
    </nav>
</nav>
