<div class='panel panel-default padding-15'>
    <h1>Need More Help?</h1>
    <p>Try posting a question to our
        <a target="_blank" href='https://www.synapse.org/#!SynapseForum:default'>Forum</a>.
        <p>Let us know what was unclear or what has not been covered. Reader feedback is key to making the documentation better, so please let us know or open an <a target="_blank" href="https://github.com/Sage-Bionetworks/synapseDocs/issues">issue</a> in our Github repository (<a target="_blank" href="https://github.com/Sage-Bionetworks/synapseDocs/">Sage-Bionetworks/synapseDocs</a>).</p>
</div>