---
title: User Guide
layout: default
---

<style type="text/css">
h3 {
  font-size: 28px;
}
@media (max-width: 767px) {
  .action h3 {
    font-size: 16px;
    font-weight: bold;
  }
  .action h3 span.subaction {
    font-size: 14px;
    font-weight: normal;
  }
}
.container {
  max-width: 960px;
}
.action {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.fa-faded {
  color: #DDD;
}
.action .fa {
  display: block;
  margin-bottom: 8px;
}
.action a {
  text-decoration: none;
}
.header, section, .section {
  text-align: center;
}
section, .section {
  margin-bottom: 50px;
  padding-bottom: 50px;
  background-image: url(images/hr.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
section:last-child, .section:last-child, section.last, .section.last {
  background-image: none;
}
.section-intro {
  margin-bottom: 36px;
}
.header {
  padding: 60px 10px 100px 10px;
  height: 100%;
}
.header h1 {
  font-size: 120px;
  margin-bottom: 0;
}
.header h5 {
  font-weight: 200;
  font-size: 17px;
}
.header h5.first {
  font-weight: 600;
}
.header a {
  color: #1e7098;
}
.subaction {
  color: grey;
  font-size: 18px;
}
#example1-container {
  padding: 24px 0 0 12px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
iframe#example1 {
  border: none;
  width: 600px;
  height: 480px;
}
#example1-code {
  padding-top: 16px;
}
#example1-code pre, #example1-code code {
  text-align: left;
  font-size: 11px;
  line-height: 1.2;
  overflow: auto;
  white-space: pre;
}

.narrow {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
h6#main-credits {
  display: block;
  font-size: 28px;
  font-weight: 200;
  margin-top: -4px;
  margin-bottom: 32px;
}
.slideshow-container {
  max-width: 500px;
  margin: 0 auto;
}
.bx-wrapper .bx-viewport {
  left: 0;
}
.slide {
  width: 490px;
}

</style>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

<div class="header">
  <h2>User Guide</h2>
</div>


<div class="container">
      <ul class="nav_articles">
        {% for page in site.pages %}
        {% if page.layout == 'article' %}
        <li><a href="{{ page.url }}.html">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %} <!-- page -->
</div>

